@model Zoka.SwitchableForms.SwitchableFormsModel.SwitchableFormModelWrapper

<div class="SwitchableForm SwitchableFormId@(Model.ModelId) editor hidden">
	@Html.HiddenFor(m => m.ModelId)
	@Html.HiddenFor(m => m.ModelDisplayName)
	@Html.EditorFor(m => m.Model)
</div>