@model Zoka.SwitchableForms.SwitchableFormsModel
@addTagHelper *, CaptureRenderTagHelper
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	var html_id = Html.GenerateIdFromName(ViewData.TemplateInfo.GetFullHtmlFieldName(""));
}


<div id="SwitchableForms_@html_id" class="form-group SwitchableForms" data-InitialSwitcherValue="@(Model.Switcher?.ToString() ?? "null")">
	@Html.ValidationMessageFor(m => m.Switcher)

	@await Html.PartialAsync("_SwitchableFormSwitcher.cshtml", Model)

	<div class="Editors">
			@Html.EditorFor(m => m.Models)
	</div>
</div>

<script capture="General">
$(function () {
	$("#SwitchableForms_@html_id").SwitchableForms({
		initialSwitcherValue: @(Model.Switcher?.ToString() ?? "null")
	});
});
</script>
